<ActionBar class="action-bar">
    <!--
         Use the NavigationButton as a side-drawer button in Android
         because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
         Use the ActionItem for IOS with position set to left. Using the
         NavigationButton as a side-drawer button in iOS is not possible,
         because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="About"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="p-20">
        <Label class="text-primary h-1 ha-c" text="Companyname"></Label>
        <Label class="text-muted h-2 ha-c m-b-10" text="The farmers friend"></Label>
        <Label class="m-t-5 h3" text="Tempor nec feugiat nisl pretium fusce id velit ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Morbi non arcu risus, quis varius quam?" textWrap="true"></Label>
        <Label class="m-t-20 h3" text="Pretium aenean pharetra, magna ac placerat vestibulum, lectus mauris ultrices eros, in cursus turpis massa tincidunt dui ut ornare lectus sit amet est. Turpis massa sed elementum tempus egestas sed." textWrap="true"></Label>
    </StackLayout>
</ScrollView>
