<ActionBar class="action-bar">
    <!--
         Use the NavigationButton as a side-drawer button in Android
         because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
         Use the ActionItem for IOS with position set to left. Using the
         NavigationButton as a side-drawer button in iOS is not possible,
         because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>

<StackLayout class="p-20">
    <Label text="Email" class="h3"></Label>
    <TextField
        hint="Email"
        #email
        (returnPress)="login()"
        [(ngModel)]="username"></TextField>
    <Label text="Password" class="h3 m-t-20"></Label>
    <TextField
        hint="Password"
        secure="true"
        (returnPress)="login()"
        [(ngModel)]="password"></TextField>
    <Button
        class="btn btn-primary btn-forest"
        text="Login"
        [isEnabled]="buttonLock"
        (tap)="login()"></Button>
    <Button
        class="btn btn-primary btn-aqua"
        text="Forgot my password"
        [isEnabled]="buttonLock"
        (tap)="forgotPassword()"></Button>
</StackLayout>
