<!--
     RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
     Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
     https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" [text]="auth.user.name" *ngIf="auth.isAuthenticated; else notLoggedIn"></Label>
            <ng-template #notLoggedIn>
                <Label class="sidedrawer-header-brand" text="You are not logged in"></Label>
            </ng-template>
            <Label class="footnote" [text]="auth.user.email" *ngIf="auth.isAuthenticated"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout
                    columns="auto, *"
                    class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/home')"
                    (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout
                    *ngIf="!auth.isAuthenticated"
                    columns="auto, *"
                    class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/login')"
                    (tap)="onNavItemTap('/login')">
                    <Label col="0" text="&#xf090;" class="fa"></Label>
                    <Label col="1" text="Login" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout
                    *ngIf="auth.isAuthenticated"
                    columns="auto, *"
                    class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/logout')"
                    (tap)="onNavItemTap('/logout')">
                    <Label col="0" text="&#xf08b;" class="fa"></Label>
                    <Label col="1" text="Logout" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout
                    columns="auto, *"
                    class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/about')"
                    (tap)="onNavItemTap('/about')">
                    <Label col="0" text="&#xf05a;" class="fa"></Label>
                    <Label col="1" text="About" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout
                    columns="auto, *"
                    class="sidedrawer-list-item"
                    (tap)="contact()">
                    <Label col="0" text="&#xf003;" class="fa"></Label>
                    <Label col="1" text="Contact" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
