<ActionBar class="action-bar">
    <!--
         Use the NavigationButton as a side-drawer button in Android
         because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
         Use the ActionItem for IOS with position set to left. Using the
         NavigationButton as a side-drawer button in iOS is not possible,
         because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout class="p-20">
    <Image src="res://logo" stretch="aspectFit" class="ha-c banner"></Image>
    <Button
        class="btn btn-primary btn-forest"
        *ngIf="!auth.isAuthenticated"
        text="Login"
        [nsRouterLink]="['/login']"></Button>
    <Button
        class="btn btn-primary btn-forest"
        *ngIf="auth.isAuthenticated"
        text="Camera List"
        [nsRouterLink]="['/camera', 'list']"></Button>
</StackLayout>
