<ActionBar class="action-bar">
    <!--
         Use the NavigationButton as a side-drawer button in Android
         because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
         Use the ActionItem for IOS with position set to left. Using the
         NavigationButton as a side-drawer button in iOS is not possible,
         because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Logout"></Label>
</ActionBar>

<StackLayout class="p-20">
    <Label text="Are you sure you want to logout?" class="h2 m-t-20p text-center" textWrap="true"></Label>
    <StackLayout orientation="horizontal" class="ha-c">
        <Button
            class="btn btn-primary btn-forest"
            text="Yes"
            (tap)="logout()"></Button>
        <Button
            class="btn btn-primary btn-aqua"
            text="No"
            (tap)="leave()"></Button>
    </StackLayout>
</StackLayout>
