// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
}
// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

ActionBar, .action-bar {
    background-color: $c-forest;
}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}

 // Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
    &.sidedrawer-left {
        background-color: $ab-background;

        .sidedrawer-header-image {
            color: $background-dark;
            height: $sidedrawer-header-image-size;
            width: $sidedrawer-header-image-size;
            font-size: $sidedrawer-header-image-size;
            padding: 0;
            margin-bottom: $sidedrawer-header-image-offset-bottom;
            margin-top: $sidedrawer-header-image-offset-top;
        }

        .footnote {
            color: rgba($ab-color, 0.5);
        }
    }

    .sidedrawer-header {
        background-color: $c-forest;

        .sidedrawer-header-brand {
            color: $ab-color;
        }
    }

    .sidedrawer-content {
        background-color: $side-drawer-background;

        $sidedrawer-list-item-offset-left: 15;
        $sidedrawer-list-icon-offset: 10;
        $sidedrawer-list-icon-size: 20;

        .sidedrawer-list-item {
            padding-left: $sidedrawer-list-item-offset-left;
            Label {
                vertical-align: center;
                color: $blue-dark;
            }
            .fa {
                width: $sidedrawer-list-icon-size;
                margin-right: $sidedrawer-list-icon-offset;
            }
            &.selected {
                background-color: $item-active-background;
                Label {
                    color: $item-active-color;
                }
            }
        }
    }
}

/*----- Helpers STARTS HERE -----*/
.ha-c {
    horizontal-align: center;
}
.ha-l {
    horizontal-align: left;
}
.ha-r {
    horizontal-align: right;
}
.ha-s {
    horizontal-align: stretch;
}
.va-c {
    vertical-align: center;
}
.va-t {
    vertical-align: top;
}
.va-b {
    vertical-align: bottom;
}
.va-s {
    vertical-align: stretch;
}
.border-none {
    border-color: transparent;
    border-width: 1;
}
.bg-transparent {
    background-color: transparent;
}
.text-white {
    color: #FFF;
}
.text-success{
    color: #28a745;
}
.text-l {
    font-size: 64;
}
.text-xl {
    font-size: 128;
}
.border-red {
    border-color: #FF0000;
    border-width: 1;
}
.border-blue {
    border-color: #0000FF;
    border-width: 1;
}
.border-green {
    border-color: #00FF00;
    border-width: 1;
}
.border-dark {
    border-color: #000000;
    border-width: 1;
}
.h-50 {
    height: 50;
}
.h-60 {
    height: 60;
}
.w-50 {
    width: 50;
}
.p-t-100p {
    padding-top: 100%;
}
.m-t-20p {
    margin-top: 20%;
}
.w-50p {
    width: 50%;
}
.h-50p {
    height: 50%;
}
.text-dark {
    color: #222222;
}
// create new heading size classes
// the default h1 to h6 classes reset the colour.....
.h-1 {
  font-size: 32;
}

.h-2 {
  font-size: 22;
}

.h-3 {
  font-size: 15;
}

.h-4 {
  font-size: 12;
}

.h-5 {
  font-size: 11;
}

.h-6 {
  font-size: 10;
}
.badge {
    padding-left: 10;
    padding-right: 10;
    border-radius: 50%;
}
.badge-success {
    background-color: #28a745;
    color: #FFFFFF;
}
.badge-primary {
    background-color: #354cec;
    color: #FFFFFF;
}
/*----- Helpers ENDS HERE -----*/

/*----- Home STARTS HERE -----*/
.banner {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}
/*----- Home ENDS HERE -----*/
